.address-bar-container{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f5ee;
}
.inside-address-bar-container{
    height: 70px;
    width: 1366px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-address-bar{
    height: 70px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location-image{
    height: 70px;
    width: 100px;
    padding-top: 20px;
    padding-left: 15px;
}
.location-image svg{
    height: 25px;
    width: 25px;
    margin-left: 30px;
    fill: #3f2021;
}
.selection{
    height: 50px;
    width: 1000px;
    border-bottom: black;
}
.selection p{
    font-size: 18px;
    color: #3f2021;
}
.button-with-cart{
    height: 70px;
    width: 200px;
}
.button-with-cart button{
    height: 34px;
    width: 80px;
    background-color: #c8102e;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-with-cart svg{
    fill: white;
    height: 18px;
    width: 15px;
}
.button-with-cart button p{
    color: white;
    margin-left: 10px;
    font-weight: 900;
}
